/* Estilo general del formulario */
.title-main{
    margin-top: 2rem;
    margin-left: .3rem;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    background-color: #ffffff;
    border-radius: 1rem;
    width: 30%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin: 2rem 0;
}

.input-container {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

.group-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


select {
    width: 30%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button:active {
    background-color: #004494;
    transform: translateY(0);
}


p {
    margin-top: 1rem;
    font-size: 1rem;
}
